body {
  background-color: antiquewhite;
}

h1,
h2,
h3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h2 {
  font-size: 40px;
}

h3 {
  text-align: center;
  padding: 20px;
  color: black;
  margin-left: 10px;
  margin-bottom: 10px;
  border: 2px dotted black;
  font-size: 26px;
}

.grid-container a {
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
  color: black;
  padding: 6px;
}

a {
  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
  font-size: 30px;
}

p {
  text-align: center;
}

li {
  color: mediumslateblue;
  text-align: center;
  font-size: 20px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
  border: 5px solid black;
  margin: 10px;
  padding: 4px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100px;
  gap: 10px;
  padding: 10px;
  background-color: aliceblue;
  border: 2px solid black;
  text-align: center;
  justify-content: center;
  margin: 10px;
}
